<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a data-target="#deleteUser" role="tab" data-toggle="tab">Delete Users</a></li>
  <li role="presentation"><a data-target="#verifyUser" role="tab" data-toggle="tab">Verify Registrations</a></li>
</ul>

<div class="tab-content">
 <div role="tabpanel" class="tab-pane active" id="deleteUser">
  <p></p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
	    <div class="user-info">
	        <strong>{{user.name}}</strong><br>
	        <span class="text-muted">{{user.email}}̣ -- {{user.department}} -- {{user.role}}</span>
	    </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
 </div>

 <div role="tabpanel" class="tab-pane" id="verifyUser">
  <p></p>
  <div class="table-responsive">          
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Role</th>
        <th>Events</th>
        <th>Action</th>
      </tr>
     </thead>
    <tbody>
      <tr ng-repeat="user in pendingUsers">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.department}}</td>
        <td>{{user.role}}</td>
        <td>{{user.event}}</td>
        <td>
            <button ng-click="acceptUser(user)" class="btn btn-success">Accept</button>
            <button ng-click="deleteUser(user)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
   </table>
  </div>
 </div>

</div> 
