<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <button ng-click="dataExport()" class="btn btn-warning btn-lg">Import Data to Excel Sheet</button><br><br>
 </div>
</div><br>

<div id="userTable" class="table-responsive">          
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>ID</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>College</th>
        <th>City</th>
      </tr>
     </thead>
    <tbody>
      <tr ng-repeat="user in webUsers">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.ID}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.college}}</td>
        <td>{{user.city}}</td>
      </tr>
    </tbody>
  </table>
</div> 

