<div class="container">
   <button class="btn btn-success btn-lg" ng-click="saveChanges()">Save Changes</button>&nbsp;&nbsp;
   <button class="btn btn-primary btn-lg" ng-click="undoChanges()">Undo Changes</button><br><br>
    <ul class="list-group">
      <li ng-repeat="user in user_list" class="list-group-item portal_panel">
      <span class="badge"><a target="_blank" href="" class="glyphicon glyphicon-file" aria-hidden="true"></a></span>
       <p>
         {{user.name}}
         <span ng-show="user.status_check" class="label label-success status_pos">{{user.accomodation_status}}</span>
         <span ng-show="!user.status_check" class="label label-primary status_pos">{{user.accomodation_status}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <span ng-click="display_options()" class="glyphicon glyphicon-pencil option" aria-hidden="true"></span>
       </p>
       <p ng-show="show_options">
        <span class="option_pos">
          <span ng-click="accept(user,$index)" class="btn btn-success">Approve</span>&nbsp;&nbsp;
          <span ng-click="reject(user,$index)" class="btn btn-danger">Reject</span>&nbsp;&nbsp;
        </span>  
       </p>
      </li>
    </ul>
   </div>