<div class="container">
 <div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
   <button class="btn btn-success btn-lg" ng-click="saveChanges()">Save Changes</button>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">  
   <button class="btn btn-primary btn-lg" ng-click="undoChanges()">Undo Changes</button>
  </div>
 </div><br><br>   
   
   <div class="table-responsive">          
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>ID</th>
        <th>Accomodation</th>
        <th class="hidden-xs hidden-sm">Email</th>
        <th class="hidden-xs hidden-sm">Mobile No.</th>
        <th>Fee Receipt</th>
        <th>Action</th>
      </tr>
     </thead>
    <tbody>
      <tr ng-repeat="user in user_list">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.ID}}</td>
        <td>{{user.accomodation_status}}</td>
        <td class="hidden-xs hidden-sm">{{user.email}}</td>
        <td class="hidden-xs hidden-sm">{{user.mobile}}</td>
        <td><a target="_blank" href="" class="glyphicon glyphicon-file" aria-hidden="true"></a></td>
        <td>
            <button ng-show="!user.status_check" ng-click="accept(user,$index)" class="btn btn-success">Approve</button>
            <button ng-show="user.status_check" ng-click="accept(user,$index)" class="btn btn-danger">Reject</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div> 

</div>