<!--<div ng-show="!trueAccess" class="container">
 <h1>Enter Access key</h1>
 
 <div class="row">
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <input type="text" class="form-control" ng-model="accessKey" required>
  </div>
  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
   <button ng-click="accessCheck()" class="btn btn-danger">Submit</button> 
  </div>
 </div><br><br>

 <div class="jumbotron">
  <h3>Fill up the below sheet with required details, an email containing the access key will be sent</h3><br><br>
  <p><a target="_blank" href="https://docs.google.com/spreadsheets/d/1woa2WSa5B8X1Hwg6pWcthaMdCvm6eZi1_HS0b-PcnkU/edit?usp=drive_web">Link to the sheet</a></p><br><br>
  <p>For any queries, contact <i>rohit@chemclave.org</i></p>
 </div><br><br>

 <a ui-sref="login" class="btn btn-primary btn-lg">Return to Login page</a>

</div>-->

<!--Sign Up page after true access-->  

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

      <div class="form-group" ng-class="{ 'has-success': form.role.$valid && vm.submitted,
                                            'has-error': form.role.$invalid && vm.submitted }">
          <label>Choose one from below (Role)</label><br><br>

       <select ng-model="vm.user.role" name="role" class="form-control" required>
         <option></option>
         <option value="coordinator">Coordinator</option>
         <option value="core">Core</option>       
      </select>
      
      <p class="help-block" ng-show="form.role.$error.required && vm.submitted">
            A role is required
          </p>

        </div>  

      <div ng-show="vm.user.role" class="form-group" ng-class="{ 'has-success': form.department.$valid && vm.submitted,
                                            'has-error': form.department.$invalid && vm.submitted }">
          <label>Choose one from below (Department)</label><br><br>

       <select ng-model="vm.user.department" name="department" class="form-control" required>
         <option></option>
        <optgroup label="--Finance Team--"></optgroup>
         <option value="finance">Finance</option>
        <optgroup label="--Events Team--"></optgroup>       
         <option ng-show="vm.user.role == 'coordinator'" ng-repeat="option in signupOptions" value="{{option}}">{{option}}</option>
         <option ng-show="vm.user.role == 'core'" value="events">Events</option>
      </select>
      
      <p class="help-block" ng-show="form.department.$error.required && vm.submitted">
            A department is required
          </p>

        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button class="btn btn-success btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-primary btn-lg btn-login" ui-sref="login">
            Login
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>
