<div class="container">
 
 <div class="row">
 <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"> 
  <label class="switch">
   <input ng-click="toggleStatus()" id="toggleSwitch" type="checkbox">
   <div class="slider round"></div>
  </label>
 </div>

 <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

 <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h4>**(In case of on-spot registration, DO NOT SWITCH IT ON)**</h4>
 </div>
 </div>

<div ng-show="!event[0].active" class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h4><span class="label label-default">(Registrations are currently closed)</span></h4>
 </div>
</div>

<div ng-show="event[0].active" class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">  
  <h4><span class="label label-success">(Registrations are currently open)</span></h4>
 </div>
</div>  

<div class="row">
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">    
    <button data-toggle='modal' data-target='#event_info' type="button" class="btn btn-primary btn-lg">Event Information</button><br><br>
 </div>
</div> 

<div class="row">
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">    
    <button data-toggle='modal' data-target='#ps' type="button" class="btn btn-danger btn-lg">Problem Statement</button><br><br>
 </div>
</div>

<div class="row">
 <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">    
    <button data-toggle='modal' data-target='#FAQ' type="button" class="btn btn-success btn-lg">FAQ</button><br><br>
 </div>
</div> 

<div class="row">
 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">    
    <button ng-click="export()" class="btn btn-warning btn-lg">Import Data to Excel Sheet</button><br><br>
 </div>
</div><br>

<i class="col-xs-12 hidden-sm hidden-md hidden-lg"><b>( Swipe horizontally to move across the whole table )</b></i>    
    
 <div id="tableData" class="table-responsive">          
    <table class="table table-bordered">
      <thead>
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>College</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>City</th>
      </tr>
     </thead>
    <tbody>
      <tr ng-repeat="user in registrations">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.college}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.city}}</td>
      </tr>
    </tbody>
  </table>
  </div>   
   
    <div id='event_info' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{event[0].name}}</h4>
          </div>
          <div class="modal-body">
          <ul class="nav nav-pills" role="tablist">
           <li style="cursor: pointer;" role="presentation" class="active"><a data-target="#description" aria-controls="description" role="tab" data-toggle="tab">Description</a></li>
           <li style="cursor: pointer;" role="presentation"><a data-target="#registration" aria-controls="registration" role="tab" data-toggle="tab">Registration</a></li>
           <li style="cursor: pointer;" role="presentation"><a data-target="#rules" aria-controls="rules" role="tab" data-toggle="tab">Rules</a></li>
           <li style="cursor: pointer;" role="presentation"><a data-target="#prizemoney" aria-controls="prizemoney" role="tab" data-toggle="tab">Prize Money</a></li>
           <li style="cursor: pointer;" role="presentation"><a data-target="#incentives" aria-controls="incentives" role="tab" data-toggle="tab">Incentives</a></li>
           <li style="cursor: pointer;" role="presentation"><a data-target="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a></li>
          </ul><br>

          <!-- Tab panes -->
        <div class="tab-content">
         <div role="tabpanel" class="tab-pane active" id="description">
           <textarea class="form-control" rows="5" id="info">{{event[0].event_info}}</textarea>
         </div>
         <div role="tabpanel" class="tab-pane" id="registration">
          <label> In case of on-spot registration, please disable the toggle switch</label>
           <textarea class="form-control" rows="5" id="reg">{{event[0].registration_mode}}</textarea>
         </div>
         <div role="tabpanel" class="tab-pane" id="rules">
           <input class="form-control" ng-model="event[0].rules[0]"><br>
           <input class="form-control" ng-model="event[0].rules[1]"><br>
           <input class="form-control" ng-model="event[0].rules[2]"><br>
           <input class="form-control" ng-model="event[0].rules[3]"><br>
         </div>
         <div role="tabpanel" class="tab-pane" id="prizemoney">
          <label>Eg: 1st winner - 10,000</label>
           <input class="form-control" ng-model="event[0].prizemoney[0]"><br>
           <input class="form-control" ng-model="event[0].prizemoney[1]"><br>
           <input class="form-control" ng-model="event[0].prizemoney[2]"><br>
         </div>
         <div role="tabpanel" class="tab-pane" id="incentives">
           <input class="form-control" ng-model="event[0].incentives[0]"><br>
           <input class="form-control" ng-model="event[0].incentives[1]"><br>
           <input class="form-control" ng-model="event[0].incentives[2]"><br>
         </div>
         <div role="tabpanel" class="tab-pane" id="contacts">
          <label>Eg: xyz - 9999988822 - xyz@example.com</label>
           <input class="form-control" ng-model="event[0].contacts[0]"><br>
           <input class="form-control" ng-model="event[0].contacts[1]"><br>
           <input class="form-control" ng-model="event[0].contacts[2]"><br>
         </div>
       </div>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button ng-click="info()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div id='ps' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Problem Statement</h4>
          </div>
          <div class="modal-body">
           <textarea class="form-control" rows="10" id="PS">{{event[0].problem_statement}}</textarea>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button ng-click="PS()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div id='FAQ' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">FAQ</h4>
          </div>
          <div class="modal-body">
           <div class="form-group">
            <label>Question 1</label>
             <input type="text" class="form-control" ng-model="event[0].QA[0].question">
           </div>
           <div class="form-group">
            <label>Answer</label>
             <input type="text" class="form-control" ng-model="event[0].QA[0].answer">
           </div>
 <hr>
           <div class="form-group">
            <label>Question 2</label>
             <input type="text" class="form-control" ng-model="event[0].QA[1].question">
           </div>
           <div class="form-group">
            <label>Answer</label>
             <input type="text" class="form-control" ng-model="event[0].QA[1].answer">
           </div>
 <hr>
           <div class="form-group">
            <label>Question 3</label>
             <input type="text" class="form-control" ng-model="event[0].QA[2].question">
           </div>
           <div class="form-group">
            <label>Answer</label>
             <input type="text" class="form-control" ng-model="event[0].QA[2].answer">
           </div>

           <div class="form-group">
            <label>Question 4</label>
             <input type="text" class="form-control" ng-model="event[0].QA[3].question">
           </div>
           <div class="form-group">
            <label>Answer</label>
             <input type="text" class="form-control" ng-model="event[0].QA[3].answer">
           </div>            
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button ng-click="FAQ()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>    

