 <div ng-show="!event_added" class="container">
   <button ng-click="event_launch()" class="btn btn-danger btn-lg">Launch {{launching_event.name}}</button>
 </div>  

 <div ng-show="event_added" class="container">
  
  <label class="switch">
   <input ng-click="toggleStatus()" id="toggleSwitch" type="checkbox">
   <div class="slider round"></div>
  </label>

  <h1 ng-show="!event[0].active"><span class="label label-default">{{event[0].name}} (Registrations are currently closed)</span></h1>
  <h1 ng-show="event[0].active"><span class="label label-success">{{event[0].name}} (Registrations are currently open)</span></h1><br><br>
    
    <button data-toggle='modal' data-target='#event_info' type="button" class="btn btn-primary btn-lg">Event Information</button>&nbsp;&nbsp;
    <button data-toggle='modal' data-target='#ps' type="button" class="btn btn-danger btn-lg">Problem Statement</button><br><br>
    <button ng-click="export()" class="btn btn-warning btn-lg">Export data to Excel sheet</button>
    <br><br>

    <div id="tableData" class="table-responsive">          
     <table class="table table-bordered">
      <thead>
       <tr>
        <th>#</th>
        <th>Name</th>
        <th>ID</th>
        <th>College</th>
        <th>Email</th>
        <th>Mobile No.</th>
        <th>City</th>
      </tr>
     </thead>
    <tbody>
      <tr ng-repeat="user in registrations">
        <td>{{$index+1}}</td>
        <td>{{user.name}}</td>
        <td>{{user.ID}}</td>
        <td>{{user.college}}</td>
        <td>{{user.email}}</td>
        <td>{{user.mobile}}</td>
        <td>{{user.city}}</td>
      </tr>
    </tbody>
  </table>
  </div>
   
    <div id='event_info' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">{{event[0].name}}</h4>
          </div>
          <div class="modal-body">
           <textarea class="form-control" rows="10" id="info">{{event[0].event_info}}</textarea>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button ng-click="info()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id='ps' class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Problem Statement</h4>
          </div>
          <div class="modal-body">
           <textarea class="form-control" rows="10" id="PS">{{event[0].problem_statement}}</textarea>
          </div>
          <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           <button ng-click="PS()" type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
 </div>
